@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rigid Square";
  src: url("./fonts/fonnts.com-Rigid_Square_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Rigid Square";
}
